/* Project Wrapper Class */
.project-content {
	width: 100%;
	background-image: url("http://www.fixabay.com/reimg/resize-img.php?src=http://www.fixabay.com/images/Abstract/i1mdoex3jh0.jpg&h=600&w=1280");
	background-repeat: none;
	padding-bottom: 5%;
	box-sizing:border-box;
}

/* Project search and category DIV */
.p-option {	margin-top: 8%;	border: 1px solid transparent; height }

/* Category part */
.selectBox { display: inline-block;	float: left; margin-left: 1% }
select {
  	width: 150px; /* 원하는 너비설정 */
  	padding: .4em .5em; /* 여백으로 높이 설정 */
  	font-family: inherit;  /* 폰트 상속 */
  	background: url(https://farm1.staticflickr.com/379/19928272501_4ef877c265_t.jpg) no-repeat 100% 10%; /* 네이티브 화살표 대체 */  
  	border: 1px solid #999; 
  	border-radius: 0px; /* iOS 둥근모서리 제거 */
  	-webkit-appearance: none; /* 네이티브 외형 감추기 */
  	-moz-appearance: none;
}
select::-ms-expand { display: none }

/* Search-Bar part */
.searchBar {
	width: 200px;
	display: inline-block;
	float: right;
	position: relative;
	margin-right: -1%;
}
.searchBar input[type="text"] {
	width: 60%;  /* 원하는 너비 설정 */ 
	padding: .4em .5em;  /* 높이값 초기화 */
	font-family: inherit;  /* 폰트 상속 */
	-webkit-appearance: none;  /* 브라우저별 기본 스타일링 제거 */
	-moz-appearance: none;
	border: 0;
	border-bottom: 0.5px solid #999;
	background:none;
}

/*** Project list ***/
.proj_list{	margin-top:80px; margin-bottom : 15px }
.proj_list article {
    float:left;
    padding-left: 2.5%;
    padding-right: 2.5%;
    margin-bottom: 3%;
    width:33.3%; 
    height:340px;
    box-sizing:border-box; 
}
.project img {
	min-width: 100%;
	max-width: 100%;
	height: 300px;
	margin:0 auto;
	display : block;
	opacity: 0.8;
}
.project img:hover { opacity: 1 }
.pTitle {
	display: block;
	width: 100%;
	height: 25px;
	margin-top: 3%;
	text-align: center;
	padding: 3px;
	margin-bottom: 5px;
	font-size: 15px;
	color: #333333;
}
.pSubtitle {
	width: 100%;
	height: 20px;
	margin-top: 2%; margin-bottom: 3%;
	text-align: center;
	padding: 3px;
	padding-top: 0;
	font-size: 12px;
	color: #666666;
}

/* Load more botton */
.load-more-btn { clear:both; text-align: center }
.load-more-btn p {
	display: inline-block;
	padding: 8px 25px 8px 25px;
	background-color: #aaaaaa;
	font-size: 0,18px;
	text-decoration: none
}
.load-more-btn p:hover	{background-color: #eeeeee}


/********************* Project 미디어쿼리 *********************/
/* 최대 해상도가 1200px일 때 - project-list 사이즈 조정 */
@media (max-width: 1200px) {
	.project img { height: 265px;}
}

/* 최대 해상도가 990px일 때 - project-list 한줄에 2개 배치 */
@media (max-width: 991px) {
	.proj_list article { width:45%; padding: 10px; margin-left:3.2% }
}

/* 최대 해상도가 768px일 때 - project-list 한줄에 1개 배치 */
@media (max-width: 768px) {
	.proj_list article {
	    width:100%;
	    box-sizing:border-box;
	    margin: 0;
	}
	.project img {
		min-width: 300px;
		max-width: 300px;
	}
	.pTitle { width: 300px; margin-left: calc((100% - 300px)/2); }
	.pSubtitle { display: none }
}

@media (max-width: 480px) {
	.p-option { margin-top: 20%;}
	.proj_list article {
		margin-left:
	    -ms-transform: scale(0.93);
		-webkit-transform: scale(0.93);
		transform: scale(0.93);
	}
	.project img {
		-ms-transform: scale(0.93);
		-webkit-transform: scale(0.93);
		transform: scale(0.93);
	}
	.pTitle { 
		-ms-transform: scale(0.95);
		-webkit-transform: scale(0.95);
		transform: scale(0.95);
	}
	.selectBox { display: block; margin-left: 10%; }
	select { width: 130px }
	
	.searchBar {width: 100%;}
	.searchBar input[type="text"] {	margin-top: 10%;margin-left: 10%; }
}